/* Basic styles for search container and results */
.search-container {
  position: relative;
}

.results-container {
  margin-top: 20px;
}

.movie-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 30px;
  margin-top:30px;
}

.movie-card {
  padding: 10px;
  background-color: #1f2933;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.movie-card img {
  max-width: 100%;
  border-radius: 4px;
}

.movie-card h3 {
  font-size: 18px;
  margin: 10px 0;
}

.movie-card a {
  color: var(--primary-color);
  text-decoration: none;
}

.movie-card a:hover {
  text-decoration: underline;
}

.movie-card p {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 10px;
}

/* Error message styles */
.error-message {
  color: red;
  font-weight: bold;
}

.search-container h1 {
   /* Adjust size as needed */
  font-weight: bold;
  text-align: center;
  color: #007bff; /* Text color */
  margin-bottom: 0px;
/*  animation: bounce 1s infinite; */
/* Bounce animation */
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
}

.search-container h1 {
   /* Adjust size as needed */
  font-weight: bold;
  text-align: center;
  background: linear-gradient(90deg, #007bff, #ff7f50); /* Gradient colors */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 10px;
}





